p.oblique {
    font-style: oblique; /* hier geef ik aan dat alle p's de oblique style moeten hebben */
}

body{
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
}

h1{
  color: white;
  text-align: center;
  font-size: 40px;
  margin-right: 875px;
}

h2{
  text-align: left;
  font-size: 40px;
}

h3{
  color: white;
  float: right;
  font-size: 40px;
  margin-right: 950px;
}

h5{
  color: white;
  font-size: 40px;
}

h6{
  color: white;
  font-size: 40px;
}

ul{
text-align: left; 
font-size: 62px;
margin-right: 700px;

}

li {
  display: inline;
  border-radius: 6px;
  border-style: solid;
  margin: 6px;
  text-align: center;
  background-color: red;
}

a {
    color: black;
    text-decoration: none;
    text-align: center;
}


body {
  background-color:#555;
}

.image{
  max-height:2000px; 
  max-width:2000px;
  float: left;
  padding-top: 10px;
  padding-right: 300px;
}

.image1{
  max-width: 1500px;
  padding-top: 5px;
  position: relative;

}

p{
  font-size: 30px;
  color:white;

}
/* dit is de css over mijn tabel opleiding*/
#scholen {
  float: right;
  margin-right: 500px;
  border-collapse: collapse;
  width: 50%;
  line-height: 50px;
}

#scholen td, #scholen th, #scholen tr {
    border: 1px solid #ddd;
    padding: 8px;
    background-color:white;
    font-size: 30px;
}

#scholen th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-size: 30px;
    background-color: red;
    color: black;
}

* {box-sizing:border-box}

/* dit is de css over mijn tabel contact*/
#contact {
  float: right;
  margin-right: 500px;
  border-collapse: collapse;
  width: 50%;
  line-height: 50px;
}

#contact td, #contact th, #contact tr {
    border: 1px solid #ddd;
    padding: 8px;
    background-color:white;
    font-size: 30px;
}

#contact th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-size: 30px;
    background-color: blue;
    color: black;
}

* {box-sizing:border-box}

/* dit is de css over mijn skills dus hoe die skill bars eruit zien*/
.container {
    width: 20%; 
    background-color: #ddd; 
}

.skills {
    text-align: right; 
    padding-right: 50px;
    line-height: 50px; 
    color: white; 
    font-size: 30px;
    font-style: serif ;
  }

.html {width: 90%; background-color: #349123;} 
.css {width: 85%; background-color: #f44336;} 
.mysql {width: 80%; background-color: #e5c40b;}  
.php {width: 75%; background-color: #682949;}
.js {width: 70%; background-color: #0800ff;} 
.java {width: 65%; background-color: #000;} 
.python {width: 60%; background-color: #ce7100;} 

/* hier is de css van de talen die ik spreek*/


.talen {
    width: 20%; 
    background-color: #ddd; 
}

.taal{
    text-align: right; 
    padding-right: 50px;
    line-height: 50px; 
    color: white; 
    font-size: 30px;
    font-style: serif ;
}
/* css voor de talen*/
.nederlands {width: 90%; background-color: #f77409;} 
.engels {width: 80%; background-color: #029848;} 
